/*desktop*/

@media (min-width: 940px) {

.advisor-list {
	float: left;
	margin: 80px 0 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: left;
}

h6 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;	
	color: #FF3838;
	font-family: 'Open Sans', sans-serif;
}

.advisor-list li {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
}

.advisor-list a {
	text-decoration: none;
	color: gray;
}

img {
	float: left;
	margin: 80px 0 0 40px;
	width: 33%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 50px;
}

.advisor-description {
	margin: 80px 0 0 50px;
	float: left;
	width: 34%;
    height: 700px;
    overflow: scroll;
}

h4 {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;	
	color: black;
	font-family: 'Open Sans', sans-serif;
}

h7 {
	font-size: 20px;
	color: #FF3838;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: left;
}

.advisor-description p {
	line-height: 17px;
	padding-top: 20px;
	font-size: 15px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: left;
}

.advisor-list a:hover {
		text-decoration: underline;
		color: #FF3838;
}

.advisor-description ul li {
	line-height: 17px;
	padding-top: 20px;
	font-size: 15px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: left;
}

}

/*tablet*/

@media (min-width: 768px) and (max-width: 940px) { 

.advisor-list {
	float: left;
	margin: -50px 0 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: left;

}

h6 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;	
	color: #FF3838;
	font-family: 'Open Sans', sans-serif;
}

.advisor-list li {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
}

.advisor-list a {
	text-decoration: none;
	color: gray;
}

img {
	float: left;
	margin: -50px 0 0 40px;
	width: 60%;
    height: 460px;
    object-fit: cover;
    padding-bottom: 50px;
}

.advisor-description {
	float: left;
	width: 100%;
    height: 570px;
}

h4 {
	margin: 40px 0;
	font-size: 30px;
	font-weight: bold;	
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h7 {
	font-size: 20px;
	color: #FF3838;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: center;
}

.advisor-description p {
	line-height: 17px;
	padding-top: 20px;
	font-size: 15px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: center;
}

.advisor-list a:hover {
		text-decoration: underline;
		color: #FF3838;
}

.advisor-description ul li {
	line-height: 17px;
	padding-top: 20px;
	font-size: 15px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: left;
}

}

/*mobile*/

@media (min-width: 400px) and (max-width: 768px) { 

.advisor-list {
	display: none;
}

img {
	display: block;
	width: 100%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 70px;
}

.advisor-description {
	display: block;
	text-align: center;
	width: 100%;
    height: 600px;
    overflow: scroll;
}

h4 {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;	
	color: black;
	font-family: 'Open Sans', sans-serif;
}

h7 {
	font-size: 20px;
	color: #FF3838;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
}

.advisor-description p {
	line-height: 17px;
	padding-top: 20px;
	font-size: 15px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
}

.advisor-description ul li {
	line-height: 17px;
	padding-top: 20px;
	font-size: 15px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 3px;
	text-align: left;
}

}