/*desktop*/

@media (min-width: 940px) {

header {
	width: 100%;
	height: 900px;
	background-color: black;
}

.header2 {
	width: 100%;
	height: 650px;
	background-color: black;
}

.header-small {
	width: 100%;
	height: 80px;
	background-color: black;
}

.nav-bar img {
	height: auto;
	width: 190px;
	margin: 22px 0 0 20px;
	float: left;
}

.nav {
	float: right;
	margin: 29px 20px 0 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
    width: 640px;
}

.nav li {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
}

.nav li ul { /*****/
	background-color: #282828;
	display: none;
	position: absolute;
	padding: 20px 10px;
	float: none; 
}

.nav li:hover ul { /*****/
    display: block;
}

a {
	text-decoration: none;
	color: white;
}

.nav li:nth-child(4) {
    background: #FF3838;
    padding: 8px 18px;
    margin-top: -8px;
}

.nav li:nth-child(4):hover {
	background: rgb(255, 0, 0); 
	opacity: 0.8;
}

.nav .icon {
    display: none;
}

.main {
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
}

.main1 {
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
}

.main h1, .main1 h1 {
	font-size: 75px;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
}

.main p, .main1 p {
	padding-top: 50px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper-small {
	width: 50%;
	margin: 0 auto;
}

hr {
	color: gray;
}

.forms-container {
	padding-top: 90px;
	width: 50%;
	margin: 0 auto;
	text-align: center;

}

.button {
	background: #FF3838;
    padding: 12px 25px;
    line-height: 130px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.button:hover {
	background: rgb(255, 0, 0); 
	opacity: 0.6;
}

.newsletter {
	margin-top: 50px;
	height: 470px;
	background-color: #383838;
	text-align: center;
	overflow: hidden;
}

.newsletter h3 {
	padding: 60px 0 20px 0;
	text-transform: uppercase;
	font-size: 35px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
}

.newsletter h7 {
	font-size: 15px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
}

.form-input {
	padding-top: 45px;
	width: 80%;	
	margin: 0 auto;
}

input {
	padding: 15px 50px 15px 15px;
	border: none;
	margin: 3px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
}

input[type=submit] {
	margin-top: 20px;
	text-transform: uppercase;
	padding: 15px 30px;
	background-color: #505050;
	border-radius: 0;
	color: white;
}

input[type=select]:hover {
	background: rgb(255, 0, 0); 
	opacity: 0.6;
}

.newsletter p {
	padding-top: 30px;
	font-size: 12px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
}

.icons {
	padding-top: 50px;
}

.icons:hover { 
	opacity: 0.6;
}

i {
 background-color: white;
 border-radius: 90%;
 padding: 9px;
 display: inline-block;
 margin-right: 5px;
 width: 50px;
 height: 50px;
}

.fa {
	line-height: 32px;
	font-size: 27px;
}

footer {
	background-color: #202020;
	height: 280px;
}

footer a {
	text-align: center;
	padding-right: 15px;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

footer h5 {
	padding-top: 50px;
	font-family: 'Titillium Web', sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 30px;
	text-align: center;
}

}

/*tablet*/

@media (min-width: 768px) and (max-width: 940px) { 

header {
	width: 100%;
	height: 550px;
	background-color: black;
}

.header2 {
	width: 100%;
	height: 450px;
	background-color: black;
}

.header-small {
	width: 100%;
	height: 80px;
	background-color: black;
}

.nav-bar img {
	height: auto;
	width: 190px;
	margin: 22px 0 0 20px;
	float: left;
}

.nav {
	float: right;
	margin: 29px 20px 0 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
    width: 640px;
    visibility: hidden;
}

.nav li {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
    visibility: hidden;
}

a {
	text-decoration: none;
	color: white;
}

.nav li:nth-child(4) {
    background: #FF3838;
    padding: 8px 18px;
    margin-top: -8px;
    visibility: hidden;
}

.main {
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

.main1 {
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

.main h1, .main1 h1 {
	font-size: 38px;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
}

.main p, .main1 p {
	padding-top: 30px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper-small {
	width: 50%;
	margin: 0 auto;
}

hr {
	color: gray;
}

.forms-container {
	padding-top: 40px;
	width: 50%;
	margin: 0 auto;
	text-align: center;

}

.button {
	background: #FF3838;
    padding: 12px 25px;
    line-height: 130px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.newsletter {
	margin-top: 40px;
	height: 480px;
	background-color: #383838;
	text-align: center;
	overflow: inherit;
}

.newsletter h3 {
	padding: 60px 0 20px 0;
	text-transform: uppercase;
	font-size: 35px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
}

.newsletter h7 {
	font-size: 15px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
}

.form-input {
	padding-top: 45px;
	width: 80%;	
	margin: 0 auto;
}

input {
	padding: 15px 50px 15px 15px;
	border: none;
	margin: 3px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
}

input[type=submit] {
	margin-top: 20px;
	text-transform: uppercase;
	padding: 15px 30px;
	background-color: #505050;
	border-radius: 0;
	color: white;
}

input[type=select]:hover {
	background: rgb(255, 0, 0); 
	opacity: 0.6;
}

.newsletter p {
	padding-top: 30px;
	font-size: 12px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
}

.icons {
	padding-top: 50px;
}

i {
 background-color: white;
 border-radius: 90%;
 padding: 9px;
 display: inline-block;
 margin-right: 5px;
 width: 50px;
 height: 50px;
}

.fa {
	line-height: 32px;
	font-size: 27px;
}

footer {
	background-color: #202020;
	height: 280px;
}

footer a {
	text-align: center;
	padding-right: 15px;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
	line-height: 30px;
}

footer h5 {
	padding-top: 50px;
	font-family: 'Titillium Web', sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 30px;
	text-align: center;
}

}

/*mobile*/

@media (min-width: 400px) and (max-width: 768px) { 

header {
	width: 100%;
	height: 550px;
	background-color: black;
}

.header2 {
	width: 100%;
	height: 450px;
	background-color: black;
}

.header-small {
	width: 100%;
	height: 80px;
	background-color: black;
}

.nav-bar img {
	height: auto;
	width: 190px;
	margin: 22px 0 0 20px;
	float: left;
}

.nav {
	float: right;
	margin: 29px 20px 0 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
    width: 640px;
    visibility: hidden;
}

.nav li {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
    visibility: hidden;
}

a {
	text-decoration: none;
	color: white;
}

.nav li:nth-child(4) {
    background: #FF3838;
    padding: 8px 18px;
    margin-top: -8px;
    visibility: hidden;
}

.main {
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

.main1 {
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

.main h1, .main1 h1 {
	font-size: 38px;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
}

.main p, .main1 p {
	padding-top: 30px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper-small {
	width: 50%;
	margin: 0 auto;
}

hr {
	color: gray;
}

.forms-container {
	padding-top: 40px;
	width: 50%;
	margin: 0 auto;
	text-align: center;

}

.button {
	background: #FF3838;
    padding: 12px 25px;
    line-height: 130px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.newsletter {
	margin-top: 40px;
	height: 580px;
	background-color: #383838;
	text-align: center;
	overflow: inherit;
}

.newsletter h3 {
	padding: 40px 0 20px 0;
	text-transform: uppercase;
	font-size: 35px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
}

.newsletter h7 {
	font-size: 15px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
}

.form-input {
	padding-top: 30px;
	width: 80%;	
	margin: 0 auto;
}

input {
	padding: 15px 50px 15px 15px;
	border: none;
	margin: 3px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
}

input[type=submit] {
	margin-top: 20px;
	text-transform: uppercase;
	padding: 15px 30px;
	background-color: #484848;
	border-radius: 0;
	color: white;
}

input[type=select]:hover {
	background: rgb(255, 0, 0); 
	opacity: 0.6;
}

.newsletter p {
	padding-top: 30px;
	font-size: 12px;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
}

.icons {
	padding: 30px;
}

i {
 background-color: white;
 border-radius: 90%;
 padding: 9px;
 display: inline-block;
 margin-right: 5px;
 width: 50px;
 height: 50px;
}

.fa {
	line-height: 32px;
	font-size: 27px;
}

footer {
	background-color: #342B2d;
	height: 280px;
}

footer a {
	text-align: center;
	padding-right: 10px;
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
	line-height: 30px;
}

footer h5 {
	padding-top: 50px;
	font-family: 'Titillium Web', sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 30px;
	text-align: center;
}

}