/*desktop*/

@media (min-width: 940px) {

.research1, .research2, .research3 {
	margin: 100px 70px 50px 0;
}

.research1 h2 {
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: bold;	
	font-family: 'Open Sans', sans-serif;
}

.research2 h2, .research3 h2 {
	padding: 50px 0 30px 0;
	font-size: 30px;
	font-weight: bold;	
	font-family: 'Open Sans', sans-serif;
}

.box1, .box2, .box3, .box4 {
	float: left;
	margin: 50px 25px;
	height: auto;
	width: 19%;
}

.box5, .box6, .box7 {
	float: left;
	margin: 50px 25px;
	height: auto;
	width: 25%;
}

svg {
	width: 100%;
	height: auto;
}

.research1 p {
	text-align: center;
	padding-top: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.research1 h4 {
	display: block;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	font-size: 22px;
	color: gray;
}

.research2 label {
	line-height: 40px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: gray;
}

.research2 input {
	padding: 10px 400px 10px 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	display: block;
	border: 1px solid gray;
	margin-bottom: 40px;
}

.research2 input[type=notification] {
	font-size: 10px;
	color: black;
	display: inline-block;
}

.research2 input[type=submit] {
	margin-top: 40px;
	background: #FF3838;
    padding: 10px 17px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border: none;
    border-radius: none;
}
}

/*tablet*/

@media (min-width: 768px) and (max-width: 940px) { 

.research1, .research2, .research3 {
	margin: 70px 70px 50px 0;
}

.research1 h2 {
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: bold;	
	font-family: 'Open Sans', sans-serif;
}

.research2 h2, .research3 h2 {
	padding: 50px 0 30px 0;
	font-size: 30px;
	font-weight: bold;	
	font-family: 'Open Sans', sans-serif;
}

.box1, .box2, .box3, .box4 {
	float: left;
	margin: 50px 25px;
	height: auto;
	width: 15%;
}

.box5, .box6, .box7 {
	float: left;
	margin: 50px 25px;
	height: auto;
	width: 25%;
}

svg {
	width: 100%;
	height: auto;
}

.research1 p {
	text-align: center;
	padding-top: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.research1 h4 {
	display: block;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	font-size: 22px;
	color: gray;
}

.research2 label {
	line-height: 40px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: gray;
}

.research2 input {
	padding: 10px 400px 10px 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	display: block;
	border: 1px solid gray;
	margin-bottom: 40px;
}

.research2 input[type=notification] {
	font-size: 10px;
	color: black;
	display: inline-block;
}

.research2 input[type=submit] {
	margin-top: 40px;
	background: #FF3838;
    padding: 10px 17px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border: none;
    border-radius: none;
}
}

/*mobile*/

@media (min-width: 400px) and (max-width: 768px) { 

.research1, .research2, .research3 {
	margin: 70px 70px 50px 0;
	margin: 0 auto;
	text-align: center;
}

.research1 h2 {
	padding: 40px 0;
	font-size: 30px;
	font-weight: bold;	
	font-family: 'Open Sans', sans-serif;
}

.research2 h2, .research3 h2 {
	padding: 50px 0 30px 0;
	font-size: 30px;
	font-weight: bold;	
	font-family: 'Open Sans', sans-serif;
}

.box1, .box2, .box3, .box4 {
	display: block;
	margin: 0 auto;
	padding: 30px 0;
	height: auto;
	width: 70%;
}

.box5, .box6, .box7 {
	float: left;
	margin: 50px 25px;
	height: auto;
	width: 70%;
}

svg {
	width: 90%;
	height: auto;
}

.research1 p {
	text-align: center;
	padding-top: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.research1 h4 {
	margin-bottom: 60px;
	display: block;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	font-size: 22px;
	color: gray;
}

.research2 label {
	line-height: 40px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: gray;
}

.research2 input {
	padding: 10px 400px 10px 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	display: block;
	border: 1px solid gray;
	margin-bottom: 40px;
}

.research2 input[type=notification] {
	font-size: 10px;
	color: black;
	display: inline-block;
}

.research2 input[type=submit] {
	margin-top: 40px;
	background: #FF3838;
    padding: 10px 17px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border: none;
    border-radius: none;
}
}